{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% include 'nav_buttons.html' %}
    <br><br>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Time</th>
                <th>Comment</th>
                <th>Created by</th>
                <th>Status</th>
                <th>Votes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{post}}</td>
                <td>{{post.time}}</td>
                <td>{{post.comment}}</td>
                <td>{{post.author}}</td>
                <td>{{post.status}}</td>
                <td>{{post.votes}}</td>

            </tr>
        </tbody>
    </table>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message}}
        </div>
    {% endfor %}
    {% endif %}

    {% if not voted %}
    <form method='post' action=".">
        {% csrf_token %}
        <div class="form-group">
        <h3>First Vote</h3>
        <select class="form-control" name="first">
            {% for rest in restaurants %}
                <option value={{rest.id}}>
                    {% if rest.comment %}
                    {% with rest.restaurant|add:" ("|add:rest.comment|add:")" as varname %}
                    {{varname }}
                    {% endwith %}
                    {%else%}
                    {{ rest }}
                    {%endif%}
                </option>
            {% endfor %}
        </select>

        <h3>Second Vote</h3>
        <select class="form-control" name="second">
            {% for rest in restaurants %}
                <option value={{rest.id}}>
                    {% if rest.comment %}
                    {% with rest.restaurant|add:" ("|add:rest.comment|add:")" as varname %}
                    {{varname }}
                    {% endwith %}
                    {%else%}
                    {{ rest }}
                    {%endif%}
                </option>
            {% endfor %}
        </select>

        <h3>Third Vote</h3>
        <select class="form-control" name="third">
            {% for rest in restaurants %}
                <option value={{rest.id}}>
                    {% if rest.comment %}
                    {% with rest.restaurant|add:" ("|add:rest.comment|add:")" as varname %}
                    {{varname }}
                    {% endwith %}
                    {%else%}
                    {{ rest }}
                    {%endif%}
                </option>
            {% endfor %}
        </select>

        <h3>Least Favorite</h3>
        <select class="form-control" name="exclude">
            {% for rest in restaurants %}
                <option value={{rest.id}}>
                    {% if rest.comment %}
                    {% with rest.restaurant|add:" ("|add:rest.comment|add:")" as varname %}
                    {{varname }}
                    {% endwith %}
                    {%else%}
                    {{ rest }}
                    {%endif%}
                </option>
            {% endfor %}
        </select>
        </div>
        <button type="submit" class='btn btn-success'>Submit</button>
        <a href="{% url 'lunch:index' %}" class='btn btn-default'>Cancel</a>
    </form>
    {% else %}
        <h3>Current Vote Result</h3>
        <table class="table table-striped table-condens">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Restaurant</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>{{top1}}</td>
                    <td>{{score1}}</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{top2}}</td>
                    <td>{{score2}}</td>
                </tr>
            </tbody>

        </table>
        <table class="table table-striped table-condense">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>First Choice</th>
                    <th>Second Choice</th>
                    <th>Third Choice</th>
                    <th>Least Favorite</th>
                </tr>
            </thead>
            <tbody>
            {% for vote in vote_detail %}
                {% if forloop.counter|add:-1|divisibleby:4 %}
                    <tr><td>{{vote.user}}</td><td>{% if vote.restaurant.comment %}
                        {% with vote.restaurant.restaurant|add:" ("|add:vote.restaurant.comment|add:")" as varname%}
                        {{ varname }}
                        {% endwith %}
                    {%else%}
                    {{ vote.restaurant }}
                    {%endif%}</td>
                {% else %}
                        <td>{% if vote.restaurant.comment %}
                    {% with vote.restaurant.restaurant|add:" ("|add:vote.restaurant.comment|add:")" as varname%}
                        {{varname }}
                        {% endwith %}
                    {%else%}
                    {{ vote.restaurant }}{%endif%}</td>
                {% endif %}

                {% if forloop.counter|divisibleby:4 %}
                </tr>
                {% endif %}
            {% endfor%}
            </tbody>
        </table>
    {% endif %}
    <br>    
    <h3 class="">Comments</h3>
    <div id="comments">
        {%if comments %}
            {% for comment in comments %}
                <h6 class="bg-info">{{comment.timestamp}}</h6>
                <h5><span class="text-primary">{{comment.user}}: </span>{{comment.message}}</h5>
            
            {% endfor %}
        
        {% endif %}
    </div>
    <br>
    <form class="form-horizontal" role="form" id="send-comment" action="{% url 'lunch:send_message' post.slug %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-11">
                <input type="text" id="comment" class="form-control" placeholder="Leave a message" 
                       onkeypress="pressEnter(event)" name="message">
            </div>
            <div class="col-sm-1 text-left">
                <button class="btn btn-primary" type="submit">Send</button>
            </div>
        </div>
    </form>
</div>
<style>
    .horizontal-line{
        border-bottom: 2px solid #DDD;
    }
    #comments{
        border: 2px solid #DDD;
        width: 100%;
        height: 400px;
        overflow-y: auto;
    }
</style>
<script>
    $("#comments").scrollTop($("#comments")[0].scrollHeight)
//    var ws_scheme = window.location.protocol == "https:" ? "wss://" : "ws://";
//    var ws = new WebSocket(ws_scheme +  window.location.host + '/' + {{post.pk}} + '/')
//    
//    ws.onmessage = function(message) {
//        var data = JSON.parse(message.data);
//
//        $('#comments').append(
//            '<h6 class="bg-info">'+data.timestamp+'</h6>'+
//            '<h5><span class="text-primary">'+data.user+':</span> '+data.message+ '</h5>'
//            );
//        $("#comments").scrollTop($("#comments")[0].scrollHeight)
//    };
    
//    $("#send-comment button").click(function(e){
//        if($("#comment").val()=="")
//            return;
//        
//        var message = {
//            user: "{{request.user}}",
//            message: $('#comment').val(),
//        }
//        $("#comment").val("");
//        ws.send(JSON.stringify(message));
//    });
    
    function pressEnter(event){
        if (event.which == 13) {
            $("#send-comment button").click();
        }
    }


</script>
{% endblock %}