{% extends 'base.html' %}

{% block content %}
<div class="container">
    
    {% include 'nav_buttons.html' %}
    
    <br><br>
    
    <table class="table table-hover table-condense">
        <thead>
            <tr>
                <th>Restaurant</th>
                <th>Comment</th>
                {% if user.is_staff %}
                <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% if restaurants %}
            {% for restaurant in restaurants %}
                <tr class='clickable-row' data-href='{{restaurant.link}}' data-search='{{restaurant}}'>
                    <td >{{restaurant}}</td>
                    <td>{{restaurant.comment}}</td>
                    {% if user.is_staff %}
                    <td class='text-right'><a href="{% url 'lunch:edit_restaurant' restaurant.id %}" class='btn btn-success btn-xs'>&nbsp;&nbsp;&nbsp;Edit&nbsp;&nbsp;&nbsp;</a>
                    <a href="{% url 'lunch:delete_restaurant' restaurant.id %}" class='btn btn-danger btn-xs'>Delete</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    
    {% include "pagination.html" with page=restaurants %} 
</div>
<script>
$('.clickable-row').click(function(){
    url = $(this).data('href');
    if(url == ""){
        restaurant = $(this).data('search');
        url = "https://www.google.com/#q=site:www.yelp.com " + restaurant;
    }
    var win = window.open(url, '_blank');
    win.focus();
})

$(".clickable-row a").click(function(e) {
   e.stopPropagation();
})

</script>
{% endblock %}